modules = ["php-8.2"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "PHP Server"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "PHP Server"

[[workflows.workflow]]
name = "PHP Server"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash run_php.sh"
waitForPort = 5000

[deployment]
run = ["sh", "-c", "bash run_php.sh"]

[[ports]]
localPort = 5000
externalPort = 80
